<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Derek's Plex Links Changelog</title>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/home.css">
  <link rel="stylesheet" href="css/changelog.css">
  <link rel="shortcut icon" href="images/plex-logo-round.png">

  <script src="js/jquery-1.11.0.min.js"></script>
</head>

<body>
  <div class="col-md-6 col-md-offset-3">
    <h1><center><a href="/">Home >></a> Changelog</center></h1>

    <ul class="list-group">
      <li class="list-group-item active">June 11, 2016</li>
      <li class="list-group-item">Created config file for easier setup</li>
      <li class="list-group-item">Added setup instructions to readme</li>
    </ul>

    <ul class="list-group">
      <li class="list-group-item active">June 11, 2016</li>
      <li class="list-group-item">Creation!</li>
      <li class="list-group-item">Added links to <a href="https://github.com/drzoidberg33/plexpy">PlexPy</a> for monitoring</li>
      <li class="list-group-item">Added links to <a href="https://plex.tv/">Plex</a> for watching</li>
      <li class="list-group-item">Added links to <a href="http://plexrequests.8bits.ca/">PlexRequests</a> for requesting content</li>
      <li class="list-group-item">Added placeholder for stats</li>
    </ul>

  </div>
</body>