<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Derek's Plex Links</title>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/home.css">
  <link rel="shortcut icon" href="images/favicon.png">

  <script src="js/jquery-1.11.0.min.js"></script>
  <script src="js/URI.js"></script>
</head>
<body id="link-list">
  <div>
    <center>
      <div class="header">
        <p class="plex-title"><%= ENV['SERVER_OWNER_NAME'].upcase %>'S <a href="/plex" class="plex-logo"><img class="main-plex-logo" src="/images/plex-logo-full-no-background.svg"></a> LINKS</p>
      </div>
      
      <div class="plex-links">
        <p><a href="/requests">Requests</a> | <a href="/monitor">Monitor</a> | <a href="/plex-it">PlexIt</a> | <a href="/stats">Server Stats</a></p>
        <p style="font-size: 20px;margin-bottom: -10px;padding-top: 25px;">Admin Only</p>
        <p><a href="/sonarr">Manage TV</a> | <a href="/radarr">Manage Movies</a> | <a href="/webtools">WebTools</a></p>
      </div>

      <div class="footer">
        <p><a class="changelog-link" href="/changelog">Changelog</a></p>
      </div>
    </center>
  </div>
</body>
</html

