<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Derek's Plex Stats</title>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/home.css">
  <link rel="shortcut icon" href="images/favicon.png">

  <script src="js/jquery-1.11.0.min.js"></script>
  <script src="js/URI.js"></script>
  <script src="https://js.pusher.com/2.1/pusher.min.js"></script>
  <script src="js/home.js"></script>
</head>
<body id="stats">
  <div>
    <center>
      <div class="header">
        <p class="plex-title"><%= ENV['SERVER_OWNER_NAME'].upcase %>'S <a href="/plex" class="plex-logo"><img class="main-plex-logo" src="/images/plex-logo-full-no-background.svg"></a> STATS</p>
      </div>
      
      <div>
        <h1><a href="/">Home >> </a>Coming Soon!</h1>
      </div>
      
    </center>
  </div>
</body>
</html

