a {
  font-size: inherit;
}

.list-group-item {
  font-size: 15px;
  color: #F9BE03;
  background-color: #696969;
  border: 1px solid #494949;
}

.list-group-item.active {
  color: white;
  font-weight: bold;
  font-size: 17px;
}
